<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <link rel="icon" type="image/gif" href="/img/favicon.gif">
  <title>Información y netiqueta - Ichoria BBS</title>
  <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
  <header>
    <h1>Ichoria BBS - Información</h1>
    <div class="sep1"></div>
    <nav>
      <a href="/">Portada</a> | <a href="https://ichoria.org">Ichoria★org</a>
    </nav>
  </header>
  <main>
    <p>
      Ichoria BBS es un enfoque simplista de tablón de discusión anónimo
      estilo nipón en español, donde cualquiera puede participar y contar 
      sus ideas. En palabras simples, un foro anónimo. El servicio
      es parte del proyecto <a href="https://ichoria.org">Ichoria★org</a>.
    </p>
    
    <p>
      ¿Una BBS de texto en 2024? Así es. La idea general es que en Ichoria
      cualquiera puede participar pero no ser globalmente identificado. El
      tablón de texto estilo nipón tiende a priorizar el
      contenido y su calidad sobre el autor, y eso es lo realmente interesante
      del asunto en un internet como el actual basado en la antinomia de este
      formato (la figura pública y la cuenta de usuario.)
    </p>

    <p>
      Para más información, leer <a href="https://wakaba.c3.cx/shii/">
      "<em>Why is this better than regular forum software?</em></a>"
      de los creadores de Shiichan.
    </p>

    <div class="index">
      <h4 class="index-title">Índice de contenidos</h4>
      <ul class="index-list">
        <li><a href="#reglas">Reglas globales y netiqueta</a></li>
        <li><a href="#ayuda">Dudas comunes</a></li>
        <ol>
          <li><a href="#marcado">Sistema de marcado para posts</a></li>
          <li><a href="#eliminar">¿Cómo elimino mi post?</a></li>
          <li><a href="#ids">¿Qué son las IDs de usuario?</a></li>
          <li><a href="#sage">¿Qué es <em>sage</em>?</a></li>
          <li><a href="#afiliados">¿Cómo puedo afiliar mi proyecto a Ichoria?</a></li>
          <li><a href="#actividad">¿Por qué el foro está "muerto"?</a></li>
        </ol>
        <li><a href="#privacidad">Política de privacidad</a></li>
        <li><a href="#licencia">Licencia de software</a></li>
        <li><a href="#contacto">Contacta a la administración</a></li>
      </ul>
    </div>

    <a name="netiqueta"></a>
    <a name="reglas"></a>
    <h2><a href="#reglas" class="permalink">#</a>Reglas / Netiqueta del BBS</h2>
    <ol>
      <li>Está prohibido el uso de este sitio para actividades ilegales
        bajo las leyes de tu país.</li>
      <li>Debes ser mayor de edad para participar.</li>
      <li>No se permite publicar mensajes de spam.</li>
      <li>El siguiente contenido no se alinea con los estándares del sitio y está prohibido:</li>
      <ul>
        <li>Contenido <a href="https://en.wikipedia.org/wiki/Not_safe_for_work">NSFW</a>
          (excepto si es para fines artísticos o de ilustración).</li>
        <li>Insultos gratuitos, posts agresivos, calumnias, difamación o ataques y
          acoso a terceros (incluyendo <em>doxxing</em>).</li>
        <li>Malutilización de citas o <em>shitposting</em> en general.</li>
        <li>Incitación a romper las reglas del sitio.</li>
      </ul>
    </ol>

    <p>
      Nota: bajo circunstancias exigentes o en las que la integridad de la
      comunidad y/o servicios de Ichoria peligren, el usuario puede ser sancionado
      por algo no listado antes. Es posible que se envíe una advertencia al usuario primero.
    </p>
  
    <a name="ayuda"></a>
    <h2><a href="#ayuda" class="permalink">#</a>Dudas comunes</h2>
    <a name="marcado"></a>
    <h4><a href="#marcado" class="permalink">#</a>Formateo de posts con markup</h4>
    <p>Es posible dar formato a tus posts usando el sistema de marcado de rhizomebbs:</p>
    <ul>
      <li><samp>**negritas**</samp> → <b>negritas</b></li>
      <li><samp>__cursiva__</samp> → <em>cursiva</em></li>
      <li><samp>~~spoiler~~</samp> → <span class="spoiler">spoiler</span></li>
      <li><samp>```código```</samp> → <code>código</code></li>
      <li><samp>&gt;cita</samp> → <span class="quote">cita</span></li>
      <li><samp>https://example.org/</samp> → <a href="https://example.org" target="_blank">https://example.org</a></li>
      <li><samp>>>1</samp> → <a href="#marcado">>>1</a> (referencia / respuesta a otro post)</li>
      <li>Es posible insertar imágenes en tu post pegando enlaces directos a éstas.
        Pero solo se permiten tres imágenes por post como máximo. Ejemplo de enlace
        válido a imágen:<br><samp>https://saki.ichoria.org/f/test/test.png</samp></li>
    </ul>
    
    <a name="eliminar"></a>
    <h4><a href="#eliminar" class="permalink">#</a>Eliminar posts</h4>
    <p>Para eliminar tu post, mueve el cursor al lado de su renglón de metadatos y da clic en "del"</p>
    <img src="/img/delpost.png">
    
    <a name="ids"></a>
    <h4><a href="#ids" class="permalink">#</a>IDs de usuario</h4>
    <p>En algunos tipos de discusión resulta útil identificar a los participantes.
      Ichoria al ser un foro anónimo, no permite que sus usuarios usen nombres.
      No obstante, entendemos la necesidad de identificar usuarios dentro de
      hilos específicos. Para ello, el autor del hilo tiene la opción de activar
      las IDs automáticas de usuario marcando la casilla "usar IDs" al crear su
      hilo. Las IDs son únicas para ese hilo y no pueden identificar a los
      usuarios fuera del mismo. <b>Para mantener la anonimidad, se recomienda
      utilizar esta opción solo cuando es realmente necesario.</b>
    </p>
    <img src="/img/idform.png">
    <p>Las IDs aparecen al lado de la fecha de los posts:</p>
    <img src="/img/idejemplo.png">

    <a name="sage"></a>
    <h4><a href="#sage" class="permalink">#</a>Opción sage</h4>
    <p>La opción sage es un modo de posteo tradicional de los BBS anónimos. Al activar
      la casilla en una respuesta, ésta no provocará que el hilo suba al inicio del
      tablón, como es de esperar por defecto al responder.</p>
    <img src="/img/sageform.png">

    <a name="afiliados"></a>
    <h4><a href="#afiliados" class="permalink">#</a>Cómo afiliarse con Ichoria</h4>
    <p>El proyecto Ichoria está en busca de afiliados para promover mutuamente
      proyectos. Actualmente en el internet donde casi todo se lleva a cabo a través de
      las plataformas tecnológicas dominantes, los pequeños proyectos como este
      tienen el enorme reto de promocionarse para llegar al público adecuado.</p>
    
    <p>Si consideras que a tu proyecto o sitio web le conviene algo de
      audiencia de acá, puedes afiliarte con Ichoria a través de la dirección
      <a href="mailto:admin@ichoria.org">admin@ichoria.org</a>. No olvides adjuntar un
      banner de 88x31 pixeles o tamaño similar para mostrarlo en la página
      principal. El banner de IchoriaBBS se muestra a continuación, cortesía
      de Vampiros†:</p>
    <img src="/img/ichoria-banner.png">

    <a name="actividad"></a>
    <h4><a href="#actividad" class="permalink">#</a>¿Por qué el foro está "muerto"?</h4>
    <p>
      Los grandes sitios sociales nos han acostumbrado al contenido instantáneo
      en cantidades masivas, sin importar su calidad. Se podría decir que 
      actualmente el mundo vive una posescasez cultural.
    </p>
    <p>
      El objetivo de IchoriaBBS no es ser un foro masivo donde la actividad es
      abundante y la calidad despreciable. Sí que buscamos mantener una cierta
      cantidad de actividad en el foro (a través de los afiliados, las
      recomendaciones, etc.) pero siempre primaremos la calidad del contenido
      sobre la cantidad. Preferimos recibir dos posts de calidad cada 48 horas que 
      diez posts malos cada cinco minutos. No tiene sentido tener actividad
      abundante si el contenido es deficiente en calidad.
    </p>
    <p>
      Aún así, cuando un sitio web se encuentra en un estado de inactividad,
      el usuario participante tiene dos opciones: mencionar la falta de 
      actividad o aportar algo que considere novedoso y/o interesante
      para aumentarla.
    </p>

    <a name="privacidad"></a>
    <h2><a href="#privacidad" class="permalink">#</a>Privacidad y datos</h2>
    <p>
      Ichoria BBS se rige bajo la
      <a href="https://ichoria.org/privacidad.txt">
        política de privacidad del proyecto Ichoria★org.
      </a>
    </p>

    <a name="licencia"></a>
    <h2><a href="#licencia" class="permalink">#</a>Licencia de software</h2>
    <img src="/img/gnu.png">
    <p>
      IchoriaBBS funciona con un motor de hechura propia llamado
      <a href="https://github.com/nshebang/rhizomebbs">rhizomebbs</a>, que
      usa NodeJS en el servidor pero no requiere que el usuario
      active Javascript en el navegador para participar.
      El motor está disponible bajo los términos de la licencia libre de
      código abierto
      <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL v3</a>.
    </p>

    <a name="contacto"></a>
    <h2><a href="#contacto" class="permalink">#</a>Contacto</h2>
    <p>Es posible contactar a la administración a través de la dirección
      <a href="mailto:admin@ichoria.org">admin@ichoria.org</a>
    </p>
  </main>
  <footer>
    <div class="sep1"></div>
    <img src="/img/neko.gif">
  </footer>
</body>
</html>
