<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/gif" href="/img/favicon.gif">
  <title>Información y netiqueta - Ichoria BBS</title>
  <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
  <header>
    <h1>Ichoria BBS - Información</h1>
  </header>
  <main>
    <p>
      Ichoria BBS es un enfoque simplista de tablón de discusión anónimo
      estilo nipón en español, similar a Heyuri o Futaba. El servicio
      es parte del proyecto <a href="https://ichoria.xyz">Ichoria★xyz</a>.
      El BBS usa un motor propio llamado rhizomebbs, que usa NodeJS en el
      lado del servidor, pero no requiere que el usuario active javascript
      en el navegador para participar.
    </p>
    <p>
      Como se mencionó con anterioridad, este foro es anónimo y cualquiera
      puede participar.
    </p>

    <a name="netiqueta"></a>
    <a name="reglas"></a>
    <h2>Reglas / Netiqueta del BBS</h2>
    <ol>
      <li>Está prohibido el uso de este sitio para actividades ilegales
        bajo las leyes de tu país.</li>
      <li>Debes ser mayor de edad para participar.</li>
      <li>No está permitido publicar mensajes de spam.</li>
      <li>No está permitido el contenido
        <em><a href="https://en.wikipedia.org/wiki/Not_safe_for_work">NSFW</a></em>
        (pornografía, violencia gráfica, desnudez, etc.) salvo cuando los fines
        sean exclusivamente artísticos o de ilustración.
      </li>
      <li>Bajo circunstancias extraordinarias, el usuario puede ser sancionado
        por algo no listado aquí. La administración se reserva el derecho a 
        determinar qué circunstancias ameritan una sanción sin previo aviso.
      </li>
    </ol>

    <a name="ayuda"></a>
    <h2>Dudas comunes</h2>
    <a name="marcado"></a>
    <h4>Formateo de posts con markup</h4>
    <p>Es posible dar formato a tus posts usando el sistema de marcado de rhizomebbs:</p>
    <ul>
      <li><samp>**negritas**</samp> → <b>negritas</b></li>
      <li><samp>__cursiva__</samp> → <em>cursiva</em></li>
      <li><samp>~~spoiler~~</samp> → <span class="spoiler">spoiler</span></li>
      <li><samp>```código```</samp> → <code>código</code></li>
      <li><samp>&gt;cita</samp> → <span class="quote">cita</span></li>
      <li><samp>https://example.org/</samp> → <a href="https://example.org" target="_blank">https://example.org</a></li>
      <li>Es posible insertar imágenes en tu post pegando enlaces directos a éstas.
        Pero solo se permiten tres imágenes por post como máximo.</li>
    </ul>
    
    <a name="eliminar"></a>
    <h4>Eliminar posts</h4>
    <p>Para eliminar tu post, mueve el cursor al lado de su renglón de metadatos y da clic en "del"</p>
    <img src="/img/delpost.png">
    
    <a name="ids"></a>
    <h4>IDs de usuario</h4>
    <p>En algunos tipos de discusión resulta útil identificar a los participantes.
      Ichoria al ser un foro anónimo, no permite que sus usuarios usen nombres.
      No obstante, entendemos la necesidad de identificar usuarios dentro de
      hilos específicos. Para ello, el autor del hilo tiene la opción de activar
      las IDs automáticas de usuario marcando la casilla "usar IDs" al crear su
      hilo. Las IDs son únicas para ese hilo y no pueden identificar a los
      usuarios fuera del mismo. <b>Para mantener la anonimidad, se recomienda
      utilizar esta opción solo cuando es realmente necesario.</b>
    </p>
    <img src="/img/idform.png">
    <p>Las IDs aparecen al lado de la fecha de los posts:</p>
    <img src="/img/idejemplo.png">

    <a name="sage"></a>
    <h4>Opción sage</h4>
    <p>La opción sage es un modo de posteo tradicional de los BBS anónimos. Al activar
      la casilla en una respuesta, ésta no provocará que el hilo suba al inicio del
      tablón, como es de esperar por defecto al responder.</p>
    <img src="/img/sageform.png">

    <a name="privacidad"></a>
    <h2>Privacidad y datos</h2>
    <p>
      Ichoria BBS se rige bajo la
      <a href="https://ichoria.xyz/privacidad.txt">
        política de privacidad del proyecto Ichoria★xyz.
      </a>
    </p>

    <a name="licencia"></a>
    <h2>Licencia de software</h2>
    <img src="/img/gnu.png">
    <p>
      IchoriaBBS funciona con un motor de hechura propia llamado
      <a href="https://github.com/nshebang/rhizomebbs">rhizomebbs</a>.
      El motor está disponible bajo los términos de la licencia libre de
      código abierto
      <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL v3</a>.
    </p>

    <a name="contacto"></a>
    <h2>Contacto</h2>
    <p>Es posible contactar a la administración a través de la dirección
      <a href="admin@ichoria.xyz">admin@ichoria.xyz</a>
    </p>
  </main>
  <footer>
    <hr>
  </footer>
</body>
</html>
