<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/gif" href="/img/favicon.gif">
  <title>404'd!</title>
  <style>
    html {
      color-scheme: dark light;
    }
    body {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>
<body>
  <h2>404 Not Found</h2>
  <p>
    <a href="/"">Ichoria BBS</a>
  </p>
  <img src="/img/nothingofvalue.jpg" alt="El archivo no existe en el servidor.">
</body>
</html>
