html {
  color-scheme: dark;
  text-rendering: optimizeSpeed;
}

body {
  max-width: 800px;
  margin: auto;
  background-color: black;
  background-image: radial-gradient(circle, #d2738a9a, 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: 'Courier New', Courier, monospace;
}

/*
  this should be included on all stylesheets for
  aa boards to be properly displayed!
*/
.aa, .aa textarea, .aa input[type="text"] {
  font-family: MS PGothic, Mona, Noto Sans Mono CJK JP, monospace !important;
}

h1, h2, h3, h4 {
  margin: 0 0px 10px;
  color: #e8003a;
  text-shadow: 1px 1px #000, 0 0 10px;
}

.newthread {
  padding-left: 0;
  background: none;
  text-align: center;
}

h2 a:link, h2 a:visited {
  color: #e8003a;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.thread-controls {
  font-weight: normal;
  font-size: 14pt;
  float: right;
}

nav {
  text-align: left;
  font-size: 11pt;
  background-image: url('/img/lain-cool.gif');
}

header {
  text-align: center;
}

nav a:link, nav a:visited {
  color: rgb(39, 241, 53);
  text-shadow: 1px 1px #000, 0 0 10px;
}

a:link, a:visited {
  color: #d2738a;
  text-shadow: 1px 1px #000, 0 0 10px;
}

nav a:hover {
  color: #9c23ff;
  text-shadow: 1px 1px #000, 0 0 10px;
}

a:hover {
  color: #47a6ff;
  text-shadow: 1px 1px #000, 0 0 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.box img {
  max-width: 150px;
  height: auto;
}

.box {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: black;
  box-shadow: 0 0 5px 5px #c4768b55;
  color: white;
  padding: 10px;
}

.post {
  margin: 0 10px 10px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 400px;
}

.aapost {
  margin: 0 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: keep-all;
  white-space: pre-wrap;
  max-height: 2000px;
}

hr {
  border: none;
  border-bottom: 2px dotted #d2738a;
}

.quote {
  border-left: 2px solid #bf7967;
  padding-left: 10px;
  color: #bf7967;
}

.name {
  color: #5dc27d;
  font-weight: bold;
}

.capcode {
  font-weight: normal;
  color: #c00;
}

.roll {
  padding: 4px;
  margin-bottom: 8px;
  font-weight: bold;
  color: goldenrod;
  text-shadow: 1px 1px goldenrod, 0 0 10px;
}

.uid {
  font-weight: normal;
}

.date, .note {
  font-weight: normal;
  color: #444;
}

.metadata .post-controls {
  display: none;
}

.metadata:hover {
  background-color: #100f12;
}

.metadata:hover .post-controls {
  display: inline-block;
}

.post-controls {
  font-weight: normal;
  color: black;
}

.spoiler {
  background-color: #d2738a;
  color: #d2738a;
  transition: .3s;
}

.spoiler:hover {
  background-color: transparent;
  color: #fc8803;
}

.threadlist {
  width: 100%;
  border-collapse: collapse;
}

.threadlist tr:hover {
  background: #130d14;
}

.threadlist th, .threadlist td {
  border: 2px dotted #d2738a;
  padding: 5px;
}

.threadlist th:nth-child(2), .threadlist td:nth-child(2) {
  min-width: 50%;
}

.posting-tips {
  font-size: 9pt;
  margin: 0px 10px 0px;
  padding: 10px 10px 0px;
}

.code-pre {
  line-height: .5;
}

code {
  padding: 5px;
  display: block;
  background-color: black;
  background-image: url('/img/lain-block.gif');
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #d2738a;
  border: 2px dotted #8742ff;
  white-space: nowrap;
}

footer {
  text-align: center;
  font-size: 9pt;
  margin-bottom: 8px;
}

input[type="text"], textarea {
  max-width: 100%;
  background-color: black;
  color: white;
  border: 1px solid #d2738a;
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
}

input[type="text"]:focus, textarea:focus {
  border: 1px solid #47a6ff;
}

input[type="submit"] {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border: 1px solid #d2738a;
  font-size: 11pt;
}

input[type="submit"]:hover {
  border: 1px solid #47a6ff;
}

.youtube {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  font-size: 10pt;
  padding: 4px;
  margin: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  box-shadow: 0 0 2px 2px #ff2635;
  background: url('/img/redwave.gif');
}

.youtube .thumb {
  position: relative;
  float: left;
  margin-right: 8px;
}

.thumb img {
  width: 90px;
  height: auto;
}

.youtube .duration {
  position: absolute;
  float: left;
  background-color: rgba(0, 0, 0,.5);
  padding: 1px;
  color: white;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#floatingReply {
  display: none;
  position: absolute;
  margin: 0;
  padding: 10px;
  color: white;
  box-shadow: 0 0 2px 2px #d2738a;
  background-color: black;
  max-width: 600px;
}

#floatingReply img {
  max-width: 50%;
}

@media (max-width: 767px) {
  textarea {
    width: 100%;
    height: auto;
    resize: both;
  } 

  .post {
    margin: 0 10px 10px;
    overflow: hidden;
    white-space: normal;
    max-height: 100%;
  }
}
