html {
  color-scheme: dark;
}

body {
  max-width: 800px;
  margin: auto;
  background-color: #2c2b37;
  background-image: radial-gradient(circle, #f9f0c220 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: #a4a4c8;
  color: black;
  padding: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid black;
  border-left: 1px solid lightgray;
  border-right: 1px solid black;
}

footer {
  text-align: center;
  font-size: 9pt;
}

h3 {
  margin: 0px 10px 10px;
}

.index {
  background-color: #324742;
  border: 2px dotted white;
  padding: 8px;
  max-width: 50%;
}

.index a:link, .index a:visited {
  color: #bd82ff;
}

.index a:hover {
  color: #c00;
}

.index-title {
  margin: 0;
}

.index-list {
  list-style: square;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
}

code {
  padding: 2px;
  border: 1px solid white;
  background-color: #35303b;
  color: white;
}

.quote {
  border-left: 2px solid #666;
  padding-left: 10px;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
}

.sep1 {
  background-image: url('/img/star-line.gif');
  background-repeat: repeat-x;
  height: 25px;
}

.boardlist {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.boardlist td {
  padding: 10px;
  vertical-align: top;
  text-align: center;
  width: 50%;
}

.boardlist .boardsth {
  background-color: #324742;
  color: white;
  border-bottom: 2px solid #222;
}

.container {
  overflow-x: auto;
}

.postlist {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postlist .poststh {
  background-color: #261b22;
  color: white;
  border-bottom: 2px solid #222;
}

.post-row {
  font-size: 10pt;
  background-color: #8a8ab0;
}

.post-row td:nth-child(3) {
  min-width: 52%;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blotter {
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blotter .blotterth {
  background-color: #443427;
  color: white;
  border-bottom: 2px solid #222;
}

.blotter tbody {
  display: block;
  max-height: 150px;
  overflow-y: auto;
}

.blotterpost {
  font-size: 10pt;
  vertical-align: top;
  background-color: #8a8ab0;
}

.blotterpost td {
  padding: 5px;
}

.blotterpost td:nth-child(2) {
  width: 76%;
}

.afflist {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.afflist .affth {
  background-color: #2a3945;
  color: white;
  border-bottom: 2px solid #222;
}

.aff {
  text-align: justify;
  font-size: 11pt;
}

.afflinks {
  background-color: #8a8ab0;
  text-align: center;
}

.affdesc {
  background-color: #8a8ab0;
  min-width: 80%;
  text-align: justify;
  font-size: 10pt;
}

h2 .permalink, h4 .permalink {
  display: none;
}

h2:hover .permalink, h4:hover .permalink {
  display: inline;
}

a:link, a:visited {
  color: rgb(164, 84, 255);
}

.box a:link, .box a:visited {
  color: #32a;
}

.box a:hover, a:hover {
  color: #c00;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
}
