html {
  color-scheme: light;
  text-rendering: optimizeSpeed;
}

body {
  max-width: 800px;
  margin: auto;
  background-color: #FFFFEE;
  color: #800000;
  font-family: 'Times New Roman', Times, serif;
}

/*
  this should be included on all stylesheets for
  aa boards to be properly displayed!
*/
.aa, .aa textarea, .aa input[type="text"] {
  font-family: MS PGothic, Mona, Noto Sans Mono CJK JP, monospace !important;
}

h1, h2, h3, h4 {
  margin: 0 0px 10px;
}

.newthread {
  padding-left: 0;
  background: none;
  text-align: center;
}

h2, h2 a:link, h2 a:visited {
  color: #c00;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.thread-controls {
  font-weight: normal;
  font-size: 14pt;
  float: right;
}

.thread-controls a:link, .thread-controls a:visited {
  color: blue;
}

nav {
  text-align: left;
}

header {
  text-align: center;
}

a:link, a:visited {
  color: blue;
}

nav a:hover, a:hover {
  color: #c00;
}

img {
  max-width: 100%;
  height: auto;
}

.box img {
  max-width: 150px;
  height: auto;
}

.box {
  margin-top: 5px;
  border: 8px solid #EEAA88;
  background-color: #F0E0D6;
  color: #800000;
  padding: 10px;
}

.post {
  margin: 0 10px 10px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 400px;
}

.aapost {
  margin: 0 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: keep-all;
  white-space: pre-wrap;
  max-height: 2000px;
}

.quote {
  border-left: 2px solid #444;
  padding-left: 10px;
  color: #444;
}

.name {
  color: #117743;
  font-weight: bold;
}

.capcode {
  font-weight: normal;
  color: #c00;
}

.uid {
  font-weight: normal;
}

.date, .note {
  font-weight: normal;
  color: #444;
}

h4 .post-controls {
  display: none;
}

h4:hover .post-controls {
  display: inline-block;
}

.post-controls {
  font-weight: normal;
  color: black;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
}

.threadlist {
  width: 100%;
  border-collapse: collapse;
}

.threadlist tr:hover {
  background: #EEAA88;
}

.threadlist th, .threadlist td {
  border: 1px solid #800000;
  padding: 5px;
}

.threadlist th:nth-child(2), .threadlist td:nth-child(2) {
  min-width: 50%;
}

.posting-tips {
  font-size: 9pt;
  margin: 0px 10px 0px;
  padding: 10px 10px 0px;
}

.code-pre {
  line-height: .5;
}

code {
  padding: 5px;
  display: block;
  background-color: #EEAA88;
  color: #800000;
  white-space: nowrap;
}

footer {
  text-align: center;
  font-size: 9pt;
  margin-bottom: 8px;
}

input[type="text"], textarea {
  max-width: 100%;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

#floatingReply {
  display: none;
  position: absolute;
  margin: 0;
  padding: 10px;
  border: 8px solid #EEAA88;
  color: #800000;
  background-color: #F0E0D6;
  max-width: 300px;
}

@media (max-width: 767px) {
  textarea {
    width: 100%;
    height: auto;
    resize: both;
  } 

  .post {
    margin: 0 10px 10px;
    overflow: hidden;
    white-space: normal;
    max-height: 100%;
  }
}
