html {
  color-scheme: light;
  text-rendering: optimizeSpeed;
}

body {
  max-width: 800px;
  margin: auto;
  background-image: url('/img/bg2.gif');
  font-family: Arial, Helvetica, sans-serif;
}

/*
  this should be included on all stylesheets for
  aa boards to be properly displayed!
*/
.aa, .aa textarea, .aa input[type="text"] {
  font-family: MS PGothic, Mona, Noto Sans Mono CJK JP, monospace !important;
}

h1, h2, h3, h4 {
  margin: 0 0px 10px;
}

.newthread {
  padding-left: 0;
  background: none;
  text-align: center;
}

h2, h2 a:link, h2 a:visited {
  color: #c00;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.thread-controls {
  font-weight: normal;
  font-size: 14pt;
  float: right;
}

.thread-controls a:link, .thread-controls a:visited {
  color: blue;
}

nav {
  text-align: left;
  padding: 4px;
  background-color: #CCFFCC;
  border-bottom: 2px solid gray;
}

header {
  text-align: center;
}

a:link, a:visited {
  color: blue;
}

nav a:hover, a:hover {
  color: #c00;
}

img {
  max-width: 100%;
  height: auto;
}

.box img {
  max-width: 150px;
  height: auto;
}

.box {
  margin-top: 10px;
  border: 4px double grey;
  background-color: #EFEFEF;
  color: black;
  padding: 10px;
}

.box:first-child, .box:nth-child(2), .box:nth-child(3) {
  background-color: #CCFFCC;
}

.threadview {
  background-color: #EFEFEF !important;
}

.post {
  margin: 0 10px 10px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 400px;
}

.aapost {
  margin: 0 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: keep-all;
  white-space: pre-wrap;
  max-height: 2000px;
}

.quote {
  border-left: 2px solid #444;
  padding-left: 10px;
  color: #444;
}

.name {
  color: #226643;
  font-weight: bold;
}

.capcode {
  font-weight: normal;
  color: #c00;
}

.roll {
  border: 4px double grey;
  padding: 4px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #c00;
}

.uid {
  font-weight: normal;
}

.date, .note {
  font-weight: normal;
  color: #444;
}

.metadata .post-controls {
  display: none;
}

.metadata:hover {
  background-color: #ddcccc;
}

.metadata:hover .post-controls {
  display: inline-block;
}

.post-controls {
  font-weight: normal;
  color: black;
}

.anchor {
  background-color: transparent;
}

.anchor:target {
  background-color: #bbbbbb;
  animation: fadeOut 6s forwards;
}

@keyframes fadeOut {
  from {
    background-color: #bbbbbb;
  }
  to {
    background-color: transparent;
  }
}

.spoiler {
  background-color: black;
  color: black;
  transition: .3s;
}

.spoiler:hover {
  background-color: transparent;
  color: black;
}

.threadlist {
  width: 100%;
  border-collapse: collapse;
}

.threadlist tr:hover {
  background: #a9d1a9;
}

.threadlist th, .threadlist td {
  border: 1px solid black;
  padding: 5px;
}

.threadlist th:nth-child(2), .threadlist td:nth-child(2) {
  min-width: 50%;
}

.posting-tips {
  font-size: 9pt;
  margin: 0px 10px 0px;
  padding: 10px 10px 0px;
}

.code-pre {
  line-height: .5;
}

code {
  padding: 5px;
  display: block;
  background-color: #222;
  color: white;
  white-space: nowrap;
}

footer {
  text-align: center;
  font-size: 9pt;
  margin-bottom: 8px;
}

input[type="text"], textarea {
  max-width: 100%;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

.youtube {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  font-size: 10pt;
  padding: 4px;
  margin: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  border: 4px double grey;
  background-color: #EFEFEF;
}

.youtube .thumb {
  position: relative;
  float: left;
  margin-right: 8px;
}

.thumb img {
  width: 90px;
  height: auto;
}

.youtube .duration {
  position: absolute;
  float: left;
  background-color: rgba(0, 0, 0,.5);
  padding: 1px;
  color: white;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#floatingReply {
  display: none;
  position: absolute;
  margin: 0;
  padding: 10px;
  border: 4px double gray;
  color: black;
  background-color: #EFEFEF;
  max-width: 600px;
}

#floatingReply img {
  max-width: 50%;
}

@media (max-width: 767px) {
  textarea {
    width: 100%;
    height: auto;
    resize: both;
  } 

  .post {
    margin: 0 10px 10px;
    overflow: hidden;
    white-space: normal;
    max-height: 100%;
  }
}
